.ControllerDesktopButton {
  padding: 5px 10px;
  width: max-content;
  color: black;
  background-color: lightblue;
  border: 1px solid cadetblue;
  border-radius: 5px;
  margin: 10px;

  &:hover {
    border-color: blue;
  }
}

.ControllerDesktopButtonLink {
  text-decoration: none;
  text-transform: none;
}
